@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #183451;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: width 0.3s ease;
    z-index: 1000;
    align-items: center;
    justify-content: flex-start;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar h1 {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #0056b3;
}

.navbar a.active {
    background-color: #0056b3;
}

.content {
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}


.HommeContent {
    background-color: #0056b3;
    width: 220px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: solid;
    cursor: pointer;
}

#peopleContentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}