@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: auto;
    height: 100vh;
}


.navBar {
    width: 100px;
    height: 102%;
    background-color: #2e4362;
    margin-top: -16px;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar a {
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #1d202c;
    text-decoration: none;
}

.page {
    color: #ddedff !important;
    text-decoration: underline !important;
}